<div class="text-center login-branch">
  <h4>To create a new post you have to <%= link_to 'Login', 
              login_path, 
              class: 'login-button login-button-branch btn btn-primary' %></h4>
</div>