<span id="hobby" class="mb-3 mt-3">
  <%= link_to hobby_posts_path,class:"link-underline link-underline-opacity-0" do %>
    <span class="fa fa-user-circle-o list-group-item list-group-item-action list-group-item-secondary text-black" aria-hidden="true"> Find a hobby buddy</span>
  <% end %>
</span>
<span id="study" class="mb-3">
  <%= link_to study_posts_path,class:"link-underline link-underline-opacity-0" do %>
    <span class="fa fa-graduation-cap  list-group-item list-group-item-action list-group-item-secondary text-black" aria-hidden="true"> Find a study buddy</span>
  <% end %>
</span>
<span id="team" class="mb-3">
  <%= link_to team_posts_path ,class:"link-underline link-underline-opacity-0" do %>
    <span class="fa fa-users list-group-item list-group-item-action list-group-item-secondary text-black" aria-hidden="true"> Find a team member</span>
  <% end %>
</span>