<div id="side-menu"  class="col-sm-3 bg-secondary p-0 mt-0  min-vh-100">
  <div id="links-list" class="list-group fs-3">
    <%= render 'pages/index/side_menu/no_login_required_links' %>
  </div>
</div>